.container {
  margin: 0 auto;
  padding: 0 5%;
}
button,
i {
  cursor: pointer;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  scroll-behavior: smooth !important;
}
input {
  outline: none;
}
